.button {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button:disabled, .button:disabled:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.form_submit {
  background-color: rgb(3, 83, 164);
  min-width: 346px;
  line-height: 22px;
  font-family: "Inter";
  padding: 20px 0;
  border-radius: 30px;
  appearance: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 17px;
  border: none;
  transition: 300ms ease-in-out;
}

.form_submit:hover {
  opacity: 0.7;
  transition: 300ms ease-in-out;
}